<!--content of videoapp-->
<section class="content-section">
  <div class="welcome-msg">
    <h1>Welcome {{ msg }}</h1>
    <h2>Click below to watch movies</h2>
  </div>
  <div class="options">
    <a href="/movies"><div class="option movies">
      <i class="ion-film-marker"></i><!--using ionicons.com-->
      <h2>Movies</h2>
      <p>watch your favorite movies with just one click below</p>
    </div></a>

  </div>

<br><br>
  <div class="specs">
    <h2>Watch as many movies as you like, they are all available to watch on this app</h2>
    <p>Online movies is a fictional app that provides movies from all years and genres as long as you are of age based on your user status. Have questions or concerns, contact us!</p>
  </div>

</section>
