/*scss colors used in app*/

/*common and adult colors*/
$mildblue: #5191e1;/*mildblue*/
$lightblue: #9eccfc;/*lightblue*/
$blue: #1e5799;/*blue*/

/*kids colors*/
$yellow: #fcfc6c;/*kids profile yellow border*/
$darkblue: #2336f5;/*dark blue for kids profile*/
